<header class="c-header c-header-light px-3">
  <a class="c-header-brand" href="#">
    Tink YNAB Sync
  </a>
  <ul class="c-header-nav mr-auto">
    <li class="c-header-nav-item">
      <%= link_to(ynab_budgets_path, class: "c-header-nav-link") do %>
        YNAB Budgets
      <% end %>
    </li>
  </ul>
</header>